<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container" style="padding: 0 4rem;">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img style="border-radius: 50%; border: none !important; outline: none !important;" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="is-size-6">{{site.author-about}} · angestellt in der <a href="https://www.psychotherapiejauss.de/#home" target="_blank" rel="noopener noreferrer" style="color: black;">Praxis Fürststraße 11</a> in Tübingen</p>
                    <br>
                    <div style="display: flex; align-items: center; justify-content: center; gap: 0.5rem; flex-wrap: wrap;">
                        <span class="has-text-weight-semibold">Kontakt:</span>
                        <a href="mailto:lea.hoelz.psychotherapie@gmail.com"
                            class="button is-rounded has-text-weight-normal is-black is-outlined" style="white-space: normal; height: auto;">lea.hoelz.psychotherapie@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
</section>