<section class="hero is-fullheight has-text-centered" id="therapie">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">Psychotherapie</h1>
            <hr>
            <div class="columns is-centered">
                <div class="column is-two-thirds has-text-left">
                    <p class="is-size-5">
                        In meiner psychotherapeutischen Tätigkeit lege ich großen Wert darauf, einen geschützten Raum zu schaffen, in dem Sie sich sicher fühlen und eine vertrauensvolle Beziehung aufbauen können. Ich freue mich Sie auf Ihrem Weg zu mehr psychischer Gesundheit begleiten zu dürfen und arbeite als Verhaltenstherapeutin auch integrativ mit Techniken, die es ermöglichen tiefer in Ihre individuelle Lebensgeschichte einzutauchen und erlernte Muster zu verstehen und zu verändern. Da jeder Mensch einzigartig ist, versuche ich auch meine Therapieansätze individuell Ihren Bedürfnissen anzupassen. Die Grundlage unserer Zusammenarbeit bildet eine respektvolle und wertschätzende Kommunikation. Durch meine Tätigkeit an der Universitätsklinik verfüge ich über besondere Erfahrung in der therapeutischen Begleitung von Patient*innen mit Autismus-Spektrum-Störungen und Patient*innen mit psychotischen Störungen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
